---
import Footer from '@/components/Footer.astro'
import Title from '@/components/Title.astro'
import Layout from '@/layouts/Layout.astro'
---

<Layout title="Welcome to Astro.">
  <main class="mx-2 flex flex-col items-center">
    <Title text="Astro + Tailwind + ESLint + Prettier" />
  </main>
  <Footer />
</Layout>
