---
import Button from '@/components/Button.astro'
import Footer from '@/components/Footer.astro'
import Title from '@/components/Title.astro'
import Layout from '@/layouts/Layout.astro'
---

<Layout title="Welcome to Astro.">
  <main class="mx-2 flex flex-col items-center">
    <Title text="Astro + Tailwind + ESLint + Prettier" />
    <Button id="button-change-theme" className="mt-2 md:mt-4">Change Theme to</Button>
  </main>
  <Footer />
</Layout>

<script>
  const button = document.getElementById('')

  if (button) {
    button.addEventListener('click', () => {
      document.documentElement.classList.toggle('dark')
    })
  }
</script>
