---
type Props = {
  text: string
}
const { text } = Astro.props
---

<h1 class="text-6xl md:text-8xl mb-2 font-bold text-center">
  Hi{' '}
  <span data-testid="emoji" role="img" aria-label="Waving hand"> 👋</span>
</h1>
<h2
  class="text-center bg-clip-text text-transparent bg-gradient-to-r from-blue-500 to-teal-400 text-2xl md:text-4xl font-extrabold leading-tighter tracking-tighter mb-4 aos-init aos-animate"
>
  {text}
</h2>
